.gradle/
.kotlin/
**/build/
local.properties

*.iml
.idea/

*.apk
*.aab

captures/
.externalNativeBuild/
.cxx/
.agents/skills
.codex
dist/v0.3.0/GuailiAndroid-v0.3.0.apk.idsig
.impeccable/review/
dist/v0.3.0/